.container {
    position: relative;
    width: 1400px;
    height: 3843px;
}

h1 {
    /*position: absolute;
    width: 518px;
    height: 108px;
    left: 145px;
    top: 211px;*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */

    color: #2F281E;
}

h2 {
    /*position: absolute;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);*/
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
        
    color: #2F281E;
}

.h2.1 {text-align: center;}

h3 {
    /*position: absolute;
    height: 33px;
    left: 0%;
    right: 20%;
    top: calc(50% - 33px/2 - 45.5px);*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    color: #2F281E;
}

h4 {
    /*position: absolute;
    height: 26px;
    left: 0%;
    right: 56.58%;
    top: calc(50% - 26px/2 - 32px);*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    color: #2F281E;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.p1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.p3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.btn1 {
    background: #FF9900;
    border-radius: 4px;
    border-color: #FF9900;
    color: white;
    background: #FF9900;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
}





