
h1 {
    /*position: absolute;
    width: 518px;
    height: 108px;
    left: 145px;
    top: 211px;*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */

    color: #2F281E;
}

h2 {
    /*position: absolute;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);*/
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
        
    color: #2F281E;
}

.h2-1 {text-align: center;}

h3 {
    /*position: absolute;
    height: 33px;
    left: 0%;
    right: 20%;
    top: calc(50% - 33px/2 - 45.5px);*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    color: #2F281E;
}

h4 {
    /*position: absolute;
    height: 26px;
    left: 0%;
    right: 56.58%;
    top: calc(50% - 26px/2 - 32px);*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    color: #2F281E;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.p1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.p3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.btn1 {
    background: #FF9900;
    border-radius: 4px;
    border-color: #FF9900;
    color: white;
    background: #FF9900;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
}

.btn3 { 
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: #FFFFFF;
}


.btn4 {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    height: 48px;
    width: 325px;
    left: 0%;
    right: 0%;
    top: 45.73%;
    bottom: 30.15%;
}

.btnsize1 {
    Width: 102px;
    Height: 46px;
}

.btnsize2 {
    width: 175px;
    height: 53px;
}

.btnsize3 {
    width: 131px;
    height:39px;
}

.container {
    display: flex;
    position: relative;
    width: 1400px;
    height: 3843px;
    align-items: center;
    flex-direction: column;
}

.navigation {
    display: flex;
    position: absolute;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;
    flex-direction: column;
}

.navtext {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-self: center;
    justify-self: center;
   
}

.navbtn {
    display: flex;
    position: absolute;
    align-self: flex-end;
    justify-self: center;
}

.logo1 {
    position:absolute;
    width: 185.34px;
    height: 31.97px;
    left: 143.92px;
    top: 22px;
}

.header {
    display:flex;
    position: absolute;
    width: 1126px;
    height: 496px;
    left: 145px;
    top: 128px;
    align-items: center;
}

.leftside {
}

.feature {
    display: flex;
    position: absolute;
    width: 2211px;
    height: 543px;
    left: -406px;
    top: 734px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    
    
}

.validation {
    display: flex;
    position: absolute;
    width: 1110px;
    height: 574px;
    left: 145px;
    top: 1397px;
}

.pm {
    display: flex;
    position: absolute;
    width: 1121px;
    height: 521px;
    left: 144px;
    top: 2072px;
}

.marketers {
    display: flex;
    position: absolute;
    width: 1110px;
    height: 609px;
    left: 147px;
    top: 2697px;
}

.footer {
    display: flex;
    position: absolute;
    width: 1109px;
    height: 308px;
    left: 160px;
    top: 3452px;    
    justify-content: space-between;
}

.footerbtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
}

